<table class="management">
  <thead>
    <th class="customer"><%= Activity.human_attribute_name(:customer) %></th>
    <th class="amount"><%= t '.amount' %></th>
    <th class="period"><%= t '.period' %></th>
    <th class="employees"><%= t '.employees' %></th>
    <th class="overdue"></th>
    <% if request.format.html? %>
      <th class="actions"><%= t 'shared.actions' %></th>
    <% end %>
  </thead>

  <tbody>
    <% @op_list_items.each do |op_list_item| %>
      <tr>

        <% if request.format.html? %>
          <td>
            <%= link_to present(op_list_item.customer) { |c| c.display_name },
              activities_path(filter: { customer: [op_list_item.customer], state: Activity.state.find_value(:open)}) %>
          </td>
        <% else %>
          <td><%= present(op_list_item.customer) { |c| c.display_name } %></td>
        <% end %>
      <td class="amount"><%= humanized_money op_list_item.amount %></td>
      <td><%= op_list_item.range_string %></td>
      <td class="employees">
        <%=
          op_list_item.employees.map do |employee|
            content_tag(:span, employee.name, class: ('highlighted_employee' if employee.id == @highlighted_employee_id))
          end.join(', ').html_safe
        %>
    </td>
    <td class="overdue">
      <% if op_list_item.overdue? %>
      <%= tooltip_icon_for(t('.overdue', days: Global.op_list.overdue_days, amount: Global.op_list.overdue_min_amount),
                           fa_icon: 'flag') %>
      <% end %>
    </td>
    <% if request.format.html? %>
      <td>
        <%= simple_form_for :invoice, url: invoices_path(@invoice), as: :invoice do |f| %>
          <%= f.hidden_field :employee_id, value: current_employee.id %>
          <%= f.hidden_field :customer_id, value: op_list_item.customer.id %>
          <%= f.hidden_field :date, value: Date.current %>
          <%= f.hidden_field :vat_rate, value: Global.invoices.default_vat_rate %>

          <%= f.submit t('.create_invoice'), class: 'btn btn-default' %>
        <% end %>
      </td>
    <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <th><%= Activity.human_attribute_name(:total) %></th>
    <th class="amount"><%= humanized_money @total_open_amount %></th>
    <th></th>
    <th></th>
  </tfoot>
</table>
