<%= page_title_for resource: Invoice, action: :index %>

<%= render 'filter_row' %>

<div class="table-row">
  <% if @invoices.any? %> <table class="management">
    <%= render 'table' %>

    <%= will_paginate @invoices, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p><%= t('shared.no_entities_found', model: Invoice.model_name.human(count: 2)) %></p>
  <% end %>
</div>

<div class="actions">
  <% if can? :create, Invoice %>
    <%= button_to_new Invoice %>
  <% end %>

  <%= link_to t('.debtors_report'),
              new_debtors_report_path,
              class: 'btn btn-default' %>

  <div class="btn-group dropup">
    <%= link_to t('shared.export'), invoices_path(format: :pdf, params: request.query_parameters), class: 'btn btn-default' %>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li> <%= link_to t('shared.as_pdf'), invoices_path(format: :pdf, params: request.query_parameters) %> </li>
      <li> <%= link_to t('shared.as_csv'), invoices_path(format: :csv, params: request.query_parameters) %> </li>
    </ul>
  </div>
</div>
