<%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <fieldset>
    <%= f.input :email %>

    <%= f.input :password %>
  </fieldset>

  <%= render 'flashes' %>

  <div class="actions">
    <%= f.button :submit, t('shared.login'), class: 'btn btn-primary' %>
  </div>
<% end %>
