<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:employee) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:customer) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:date) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:hours) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:hourly_rate) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:amount) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:text) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:note) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:state) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Activity.human_attribute_name(:activity_category) %></Data></Cell>
      </Row>
    <% @activities.each do |activity| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= activity.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= activity.employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= activity.customer.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= I18n.l(activity.date) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= activity.hours %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= humanized_money(activity.hourly_rate) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= humanized_money(activity.amount) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= activity.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= activity.note %></Data></Cell>
        <Cell><Data ss:Type="String"><%= I18n.t("enumerize.defaults.state.#{activity.state}") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= activity.activity_category&.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
