<%= page_title_for resource: Activity, action: :index %>

<%= render 'filter_row' %>

<div class="table-row">
  <% if @activities.any? %>
    <%= render 'table' %>

    <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p><%= t('shared.no_entities_found', model: Activity.model_name.human(count: 2)) %></p>
  <% end %>
</div>

<div class="actions">
  <% if can? :create, Activity %>
    <%= link_to(t('resources.new', resource: Activity.model_name.human),
                '#',
                class: 'btn btn-primary focus_hours_subject') %>
  <% end %>

  <div class="btn-group dropup">
    <%= link_to t('shared.export'), activities_path(format: :pdf, params: request.query_parameters), class: 'btn btn-default' %>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li> <%= link_to t('shared.as_pdf'), activities_path(format: :pdf, params: request.query_parameters) %> </li>
      <li> <%= link_to t('shared.as_xls'), activities_path(format: :xls, params: request.query_parameters) %> </li>
    </ul>
  </div>
</div>
